.overview {
  margin-bottom: 30px;
}
#city {
  margin-bottom: 12px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #5697bf;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #5697bf;
  font-weight: bold;
  cursor: default;
}

.active {
  font-size: 20px;
}

#icon {
  background-color: rgba(86, 151, 191, 0.6);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  padding: 5px;
}

#description {
  font-size: 18px;
  font-weight: 600;
}
